{% extends 'mainApp/base.html' %}
{% block title %}{{ lab }}'s Information{% endblock %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'kendo/styles/kendo.common-bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'kendo/styles/kendo.bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'kendo/styles/kendo.bootstrap.mobile.min.css' %}"/>

    <script src="{% static 'kendo/js/kendo.all.min.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3><strong>{{ lab }}'s Information</strong></h3>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Name:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Address:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.address }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Thana:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.thana }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>District:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.get_district_display }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Created On:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.created }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Last Update:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.last_updated }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Number of Users:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.userprofile_set.count }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Number of Datapoints:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.get_data_points_count }}
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <a href="{% url 'mainapp:lab-update' lab.id %}" class="btn btn-primary">Edit</a>
                <a class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <table id="grid">

            <thead>
            <tr>
                {% include 'mainApp/kendo_columns.html' %}
            </tr>
            </thead>
            <tbody>
            {% for up in lab.userprofile_set.all %}
                {% for data in up.user.datapoint_set.all %}
                    <tr>
                        {% include 'mainApp/kendo_body.html' %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

        <script>
            $(document).ready(function () {
                $("#grid").kendoGrid({
                    height: 500,
                    sortable: true,
                    pageable:{
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    //groupable: true,
                    filterable: true,
                    columnMenu: true,
                    reorderable: true,
                    resizable: true,

                });
            });
        </script>
    </div>
{% endblock %}