{% extends 'mainApp/base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3><strong>{{ lab }}'s Information</strong></h3>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Name:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Address:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.address }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Thana:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.thana }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>District:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.get_district_display }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Created On:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.created }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Last Update:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.last_updated }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Number of Users:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ lab.userprofile_set.count }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Number of Datapoints:</strong>
                    </div>
                    <div class="col-sm-5">

                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <a href="{% url 'mainapp:lab-update' lab.id %}" class="btn btn-primary">Edit</a>
                <a class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}