{% extends 'mainApp/base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'kendo/styles/kendo.common-bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'kendo/styles/kendo.bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'kendo/styles/kendo.bootstrap.mobile.min.css' %}"/>

    <script src="{% static 'kendo/js/kendo.all.min.js' %}"></script>

{% endblock %}

{% block body %}

    <div class="container-fluid">
    {% if datapoints %}
        {% if request.user.groups.all.0|stringformat:'s' == 'admin' %}
            <table id="grid">
                <thead>
                <tr>
                    {% include 'mainApp/kendo_columns.html' %}
                </tr>
                </thead>
                <tbody>
                {% for data in datapoints %}
                    <tr>
                        {% include 'mainApp/kendo_body.html' %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <script>
                $(document).ready(function () {
                    $("#grid").kendoGrid({
                        height: 500,
                        sortable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        //groupable: true,
                        filterable: true,
                        columnMenu: true,
                        reorderable: true,
                        resizable: true,

                    });
                });
            </script>
        {% endif %}
    {% endif %}
    {% if request.user.groups.all.0|stringformat:'s' == 'user' %}
        <div class="uk-child-width-1-2@s" uk-grid>
            <div>
                <div class="uk-card uk-card-default  uk-card-body">

                    <p>If you want to add regular data in the database, click the link bellow</p>
                    <div class="uk-card-footer">
                        <a href="{% url 'mainapp:data-add-re' %}" class="uk-button uk-button-text">Go</a>
                    </div>
                </div>

            </div>
            <div>
                <div class="uk-card uk-card-default  uk-card-body">

                    <p>If you want to add QC data in the database, click the link bellow</p>
                    <div class="uk-card-footer">
                        <a href="{% url 'mainapp:data-add-qc' %}" class="uk-button uk-button-text">Go</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}