{% extends 'mainApp/base.html' %}

{% block title %}
    {% if url_name == 'data-add-qc' %}
        Adding QC Data
    {% elif url_name == 'data-qc-update' %}
        Updating QC Data
    {% endif %}
{% endblock %}

{% block extra_head %}
    <style>
        .out_of_range{
            color: red;


        }

        .within_range{
            color: limegreen;


        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <h2>
    {% if url_name == 'data-add-qc' %}
        Adding QC Data
    {% elif url_name == 'data-qc-update' %}
        Updating QC Data: {{object}}
    {% endif %}
    </h2>
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'mainApp/form-template.html' %}
                        <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>

                            </div>

                        </div>


                    </form>

                </div>

            </div>

        </div>

    </div>
    </div>
    <script>
    $(document).ready(function () {
        lower_range=0;
        upper_range=0;
        $("#id_test_name").change(function () {
            $.get("/api/qc/"+$(this).val()+"/?format=json", function (data, status) {
            lower_range = parseInt(data.lower_range);
            upper_range = parseInt(data.upper_range);

            var message = jQuery.validator.format(`<span class="help-block">Acceptable range {0} to {1}</span>`,
                lower_range, upper_range);
            $(".help-block").remove();
            $('#id_value').parent().append(message);
            });
        });

        $("#id_value").keyup(function () {
            val=parseInt($(this).val());
            if((val >= lower_range) && (val <= upper_range)){
                var message = jQuery.validator.format(`<span class="help-block">Within Acceptable range {0} to {1}</span>`,
                lower_range, upper_range);
                $(".help-block").remove();
                $('#id_value').parent().append(message);

                $(".help-block").removeClass("out_of_range");
                $(".help-block").addClass("within_range");
            }
            else{

                var message = jQuery.validator.format(`<span class="help-block">Outside Acceptable range {0} to {1}</span>`,
                lower_range, upper_range);
                $(".help-block").remove();
                $('#id_value').parent().append(message);
                $(".help-block").removeClass("within_range");
                $(".help-block").addClass("out_of_range");
            }



        });
    });
    </script>
{% endblock %}
