{% extends 'mainApp/base.html' %}

{% block title %}
    {% if url_name == 'data-add-qc' %}
        Adding QC Data
    {% elif url_name == 'data-qc-update' %}
        Updating QC Data
    {% endif %}
{% endblock %}

{% block extra_head %}
    <style>
        .out_of_range{
            color: red;


        }

        .within_range{
            color: limegreen;


        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <h2>
    {% if url_name == 'data-add-qc' %}
        Adding QC Data
    {% elif url_name == 'data-qc-update' %}
        Updating QC Data: {{object}}
    {% endif %}
    </h2>
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" {% if url_name == 'data-qc-update' %} onsubmit="change_readonly()" {% endif %} action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'mainApp/form-template.html' %}
                        <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>

                            </div>

                        </div>


                    </form>

                </div>

            </div>

        </div>

    </div>
    </div>


    <script>
    function change_readonly() {
                console.log("crd called");
                $("#id_test_name").prop("disabled", false);
                $("#id_qc_name").prop("disabled", false);
                $("#id_level").prop("disabled", false);
                $("#id_remarks").prop("disabled", false);
                $("#id_note").prop("disabled", false);

                return true;
    }
    $(document).ready(function () {
        lower_range=0;
        upper_range=0;

        {% if url_name == 'data-qc-update' %}


            $("#id_test_name").prop("disabled", true);
            $("#id_qc_name").prop("disabled", true);
            $("#id_level").prop("disabled", true);
            $("#id_remarks").prop("disabled", true);
            $("#id_note").prop("disabled", true);

            var message_hide=0;
            $.get("/api/qc/"+$('#id_test_name').val()+"/?format=json", function (data, status) {
                var level = $("#id_level").val();

                if(level == 1){

                    lower_range = parseInt(data.level_1_lower_range);
                    upper_range = parseInt(data.level_1_upper_range);

                }
                else if(level == 2){

                    lower_range = parseInt(data.level_2_lower_range);
                    upper_range = parseInt(data.level_2_upper_range);

                }
                else if(level == 3){

                    lower_range = parseInt(data.level_3_lower_range);
                    upper_range = parseInt(data.level_3_upper_range);

                }

                else{
                    lower_range = 0;
                    upper_range = 0;
                    message_hide = 1;
                    $(".help-block").remove();
                }



            var message = jQuery.validator.format(`<span class="help-block">Acceptable range {0} to {1}</span>`,
                lower_range, upper_range);
            $(".help-block").remove();
            $('#id_value').parent().append(message);

            });
        {% endif %}

        {% if url_name == 'data-add-qc' %}


        $("#id_level").change(function () {
            var message_hide=0;
            $.get("/api/qc/"+$('#id_test_name').val()+"/?format=json", function (data, status) {
                var level = $("#id_level").val();

                if(level == 1){

                    lower_range = parseInt(data.level_1_lower_range);
                    upper_range = parseInt(data.level_1_upper_range);

                }
                else if(level == 2){

                    lower_range = parseInt(data.level_2_lower_range);
                    upper_range = parseInt(data.level_2_upper_range);

                }
                else if(level == 3){

                    lower_range = parseInt(data.level_3_lower_range);
                    upper_range = parseInt(data.level_3_upper_range);

                }

                else{
                    lower_range = 0;
                    upper_range = 0;
                    message_hide = 1;
                    $(".help-block").remove();
                }



            var message = jQuery.validator.format(`<span class="help-block">Acceptable range {0} to {1}</span>`,
                lower_range, upper_range);
            $(".help-block").remove();
            $('#id_value').parent().append(message);

            });
        });
        {% endif %}


        $("#id_value").keyup(function () {
            val=parseInt($(this).val());
            if((val >= lower_range) && (val <= upper_range)){
                var message = jQuery.validator.format(`<span class="help-block">Within Acceptable range {0} to {1}</span>`,
                lower_range, upper_range);
                $(".help-block").remove();
                $('#id_value').parent().append(message);

                $(".help-block").removeClass("out_of_range");
                $(".help-block").addClass("within_range");
            }
            else{

                var message = jQuery.validator.format(`<span class="help-block">Outside Acceptable range {0} to {1}</span>`,
                lower_range, upper_range);
                $(".help-block").remove();
                $('#id_value').parent().append(message);
                $(".help-block").removeClass("within_range");
                $(".help-block").addClass("out_of_range");
            }



        });

    });
    </script>
{% endblock %}
