{% extends 'mainApp/base.html' %}
{% block title %}{{ user }}'s Information{% endblock %}

{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'kendo/styles/kendo.common-bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'kendo/styles/kendo.bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'kendo/styles/kendo.bootstrap.mobile.min.css' %}"/>


    <script src="{% static 'kendo/js/kendo.all.min.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3><strong>{{ user }}'s Information</strong></h3>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>User Name:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.username }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Email:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.email }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Designation:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.userprofile.designation }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Lab:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.userprofile.lab }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Created On:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.userprofile.created }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Last Update:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.userprofile.last_updated }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-2">
                        <strong>Number of Datapoints:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.datapoint_set.count }}
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <a href="{% url 'mainapp:user-update' user.id %}" class="btn btn-primary">Edit</a>
                <a class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <table id="grid">

            <thead>
            <tr>
                {% include 'mainApp/kendo_columns.html' %}
            </tr>
            </thead>
            <tbody>

                {% for data in user.datapoint_set.all %}
                    <tr>
                        {% include 'mainApp/kendo_body.html' %}

                    </tr>
                {% endfor %}

            </tbody>
        </table>

        <script>
            $(document).ready(function () {
                $("#grid").kendoGrid({
                    height: 500,
                    sortable: true,
                    pageable:{
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                    },
                    //groupable: true,
                    filterable: true,
                    columnMenu: true,
                    reorderable: true,
                    resizable: true,

                });
            });
        </script>
    </div>
{% endblock %}