{% extends 'mainApp/base.html' %}
{% block title %}{{ user }}'s Information{% endblock %}

{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'kendo/styles/kendo.common-bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'kendo/styles/kendo.bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'kendo/styles/kendo.bootstrap.mobile.min.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
    <script src="{% static 'kendo/js/kendo.all.min.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="container-fluid display-screen">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3><strong>{{ user }}'s Information</strong></h3>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>User Name:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.username }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Email:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.email }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Designation:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.userprofile.designation }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Lab:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.userprofile.lab }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Created On:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.userprofile.created }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Last Update:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.userprofile.last_updated }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-2">
                        <strong>Number of Datapoints:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.datapoint_set.count }}
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <a href="{% url 'mainapp:user-update' user.id %}" class="btn btn-primary">Edit</a>
                <a class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    <div class="container-fluid display-screen">

        <table id="grid">

            <thead>
            <tr>
                {% include 'mainApp/kendo_columns.html' %}
            </tr>
            </thead>
            <tbody>

            {% for data in user.datapoint_set.all %}
                <tr>
                    {% include 'mainApp/kendo_body.html' %}

                </tr>
            {% endfor %}

            </tbody>
        </table>

        <script type="x/kendo-template" id="page-template">
            <div class="page-template">
                <div class="header">
                    <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    Multi-page grid with automatic page breaking
                </div>
                <!--div class="watermark">KENDO UI</div-->
                <div class="footer">
                    Page #: pageNum # of #: totalPages #
                </div>
            </div>
        </script>
        <style>
            .page-template {
                font-family: "DejaVu Sans", "Arial", sans-serif;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            .page-template .header {
                position: absolute;
                top: 30px;
                left: 30px;
                right: 30px;
                border-bottom: 1px solid #888;
                color: #888;
            }

            .page-template .footer {
                position: absolute;
                bottom: 30px;
                left: 30px;
                right: 30px;
                border-top: 1px solid #888;
                text-align: center;
                color: #888;
            }

            .page-template .watermark {
                font-weight: bold;
                font-size: 400%;
                text-align: center;
                margin-top: 30%;
                color: #aaaaaa;
                opacity: 0.1;
                transform: rotate(-35deg) scale(1.7, 1.5);
            }
        </style>


        <script>

            $(document).ready(function () {
                $("#grid").kendoGrid({

                    toolbar: ["excel", "pdf"],
                    excel: {
                        fileName: "Export.xlsx",
                        filterable: false,


                    },

                    pdf: {
                        allPages: true,
                        avoidLinks: true,
                        paperSize: "A4",
                        margin: {top: "2cm", left: "1cm", right: "1cm", bottom: "1cm"},
                        landscape: true,
                        repeatHeaders: true,
                        template: $("#page-template").html(),
                        scale: 0.8
                    },
                    height: 500,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    //groupable: true,
                    filterable: true,
                    columnMenu: true,
                    reorderable: true,
                    resizable: true,
                    excelExport: function (e) {
                        var rows = e.workbook.sheets[0].rows;

                        for (var ri = 0; ri < rows.length; ri++) {
                            var row = rows[ri];

                            for (var ci = 0; ci < row.cells.length; ci++) {
                                var cell = row.cells[ci];
                                if (cell.value) {
                                    // Use jQuery.fn.text to remove the HTML and get only the text
                                    if ($(cell.value).text()) {
                                        cell.value = $(cell.value).text();
                                    }
                                    else {
                                        cell.value = cell.value;
                                    }

                                    // Set the alignment
                                    cell.hAlign = "right";
                                }
                            }
                        }
                    },

                });
            });
        </script>

    </div>
    <div class="display-print">
        <h3><strong>{{ user }}'s Information</strong></h3>
        <table>
            <tbody>
            <tr>
                <td>User Name:</td>
                <td>{{ user }}</td>
            </tr>
            <tr>
                <td>
                    <strong>Email:</strong>
                </td>
                <td>
                    {{ user.email }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Designation:</strong>
                </td>
                <td>
                    {{ user.userprofile.designation }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Lab:</strong>
                </td>
                <td>
                    {{ user.userprofile.lab }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Created On:</strong>
                </td>
                <td>
                    {{ user.userprofile.created }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Last Update:</strong>
                </td>
                <td>
                    {{ user.userprofile.last_updated }}
                </td>
            </tr>


            <tr>
                <td>
                    <strong>Number of Datapoints:</strong>
                </td>
                <td>
                    {{ user.datapoint_set.count }}
                </td>
            </tr>
            </tbody>
        </table>
    <table class="table table-bordered">

            <thead>
            <tr>
                {% include 'mainApp/kendo_columns.html' %}
            </tr>
            </thead>
            <tbody>

            {% for data in user.datapoint_set.all %}
                <tr>
                    {% include 'mainApp/kendo_body_print.html' %}

                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}