{% extends 'mainApp/base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <h3><strong>{{ user }}'s Information</strong></h3>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <strong>User Name:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.username }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Email:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.email }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Designation:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.userprofile.designation }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Lab:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.userprofile.lab }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Created On:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.userprofile.created }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <strong>Last Update:</strong>
                    </div>
                    <div class="col-sm-5">
                        {{ user.userprofile.last_updated }}
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-2">
                        <strong>Number of Datapoints:</strong>
                    </div>
                    <div class="col-sm-5">

                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <a href="{% url 'mainapp:user-update' user.id %}" class="btn btn-primary">Edit</a>
                <a class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}